doctype html
head
  title Sale Hunter
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  // --icon-
  link(rel='icon' href='./Sale-Hunter-Semi-Horizontal.png')

//- style.
//-   :root {
//-   --main-color: #8342fe;
//-   }
//-   html,
//-   body {
//-   margin: 0;
//-   height: 100vh;
//-   overflow: hidden;
//-   font-size: 200px
//-   color: #8342fe;
//-   }
 
.container
  img.logo(src='./Sale-Hunter-Semi-Horizontal.png' alt='sale Hunter logo ')
  .header
    h1.main-title Reset Password
  .content
    p.main-paragraph
      | Hi, #{fullname}
      br
      |           Here is the verification link to reset your account password:
    a.main-button(href='#') Verify
    p.main-paragraph
      | Thank you,
      br
      |           Sale Hunter Team.
  .footer
    p.copy-right
      | Copyright &copy; 2022 Sale Hunter, All rights reserved.
    p This email was intended for User (#{email})
